// app global css in Sass form

h1,h2,h3,h4,h5,h6
  margin-block-start: 0px
  margin-block-end: 0px
  margin-inline-start: 0px
  margin-inline-end: 0px

.q-editor
  transition: all 0.15s ease-out-in
  code,
  pre
    background-color: #f4f4f4 !important
    transition: all 0.15s ease-out-in
    color: #476582
  a
    font-weight: 600
